.card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0), 0 1px 1px 0 rgba(0, 0, 0, 0.0), 0 1px 1px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0 !important;
}
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5em;
}
.btn,
.btn-large,
.btn-flat {
    text-transform: none;
}
.btn-large {
    font-size: 1.2em;
    font-family: Roboto;
    font-weight: 200;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
    justify-content: center;
}
.child {
    margin-left: 0.2em;
    display: inline-block;
    flex-grow: 1;
    max-width: calc(100% * (1/4) - 10px - 1px);
    margin-right: 0.2em;
    margin-bottom: 1em !important;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}