body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 1000px;
  /* background-color: black; */
  /* color: white; */
}

/* navbar */

.navbar{
  background-color: white;
  position: fixed;
  top: 0px;
}

.navbar ul {
  display: flex;
  margin-bottom: 0px;
  padding-left: 20px;
}

.nav-li {
  list-style: none;
  margin-right: 1.3rem;
  padding-top: auto;
}

.li-1:hover {
  cursor: pointer;
}

.li-1 a:hover {
  border-bottom: 2px solid brown;
}

.li-1 {
  margin-top: 10px;
  font-size: 1rem;
}
.name {
  margin-top: 6.7px;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.mail,
.li-1 {
  text-decoration: none;
  /* color: black; */
}

.mail:hover {
  color: white;
}

.mail-btn:hover {
  background-color: rgb(184, 183, 183);
}

/* .home{
    margin-left: 5%;
} */

.logo-img {
  width: 3rem;
  margin-right: -15px;
  margin-left: 5px;
}

.usict-web {
  /* padding-left: 20%; */
  position: absolute;
  right: 4%;
  font-size: 1.4rem;
  /* font-weight: bold; */
}

/* body-top */

.top {
  /* background-image: url('images/developer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; */
  position: absolute;
  top: 5%;
  left: 26%;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  margin: 0.5rem auto;
  padding: 100px;
}

.top h2 {
  font-size: 2.6rem;
  color: black;
}
/* 
.top p{
    margin: 10% 20% 0% 20%;
    font-size: 1.2rem;
} */

/* carousal */

.carousal {
  background-color: rgb(56, 55, 55);
}

.carousel-item {
  padding: 1%;
  /* margin: auto; */
}

.carousal .img1 {
  height: 600px;
  width: 100%;
  border-radius: 10px;
  /* margin: auto; */
  box-shadow: 5px 5px 10px grey;
}

.carousal .img2 {
  height: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.carousel-item h2 {
  text-align: center;
}

.testimonial-img {
  width: 300px;
}

.carousal button span {
  border-radius: 100%;
  background-color: rgb(48, 45, 45);
}

.carousel-indicators button {
  border-radius: 100%;
}

/* middle */

.middle {
  /* background-color: black; */
  justify-content: center;
  text-align: center;
  padding: 0% 5% 5% 5%;
}

.mid-h {
  margin-top: 4%;
  /* padding-top: 4%; */
  margin-left: -4%;
  color: white;
}

.card-img-top {
  padding-left: 8%;
  /* padding: auto 10%; */
}

/* About Us */

.about {
  background-color: rgb(56, 55, 55);
  color: #fff;
  text-align: center;
  padding: 3% 22%;
}

.about h3 {
  padding-bottom: 10%;
  color: white;
}

.about p {
  font-size: 1.3rem;
  padding-top: 20px;
}

/* form */

#contactUs{
  /* background-image: url("images/social-media.png"); */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  padding: 2%;
  /* margin: 2% -30%; */
}

#contactUs h2{
  color: black;
}

/* .contact-img {
  width: 400px;
  height: 330px;
  border-radius: 10px;
  margin-left: 4%;
  box-shadow: 20px 20px 10px grey;
} */

/* .contact-form {
  display: flex;
  border: 2px solid black;
  margin: 5% 20%;
  padding: 2%;
} */

.message-form {
  /* border: 2px solid black;
    margin: 5% 20%;
    padding: 2%; */
    background-color: white;
  margin: 5% 32%;
  margin-left: 33%;
  padding: 3%;
  text-align: center;
  justify-content: center;
  /* border: 1px solid grey; */
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px rgb(204, 201, 201);
}

.message-form h2 {
  padding-bottom: 2%;
}

.message-form input {
  /* background-color:rgb(184, 183, 183); */
  border-radius: 20px;
  width: 423px;
}

.form-row {
  text-align: center;
  justify-content: center;
  color: rgb(247, 123, 123);
}

.message textarea {
  margin-top: 10%;
  width: 423px;
  height: 200px;
  border-radius: 20px;
  padding: 5%;
}

.submit {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgb(184, 183, 183);
  padding: auto 4px;
  width: 50%;
}

.submit:hover {
  background-color: rgb(143, 141, 141);
}

/* footer */

/* .footer{
    position: fixed;
    background-color: black;
    padding-left: 44%;
    margin-bottom: -5px;
    text-align: center;
    color: white;
    bottom: 0px;
} */

#footer {
  padding: 7% 15%;
  background-color: black;
}

.footer-icon {
  margin: 1.5rem 1rem;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
}

.footer-icon:hover {
  cursor: pointer;
}

.copywright {
  color: white;
  padding-bottom: 1%;
}

/* flip-card */

.flip {
  display: flex;
  /* text-align: center; */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 5%;
  perspective: 1000px;
  border-radius: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  border-radius: 10px;
}

.flip-card-back {
  color: black;
  background-color: white;
  transform: rotateY(180deg);
}

.flip-card-back li {
  line-height: 2rem;
  padding: 2% 5%;
  font-weight: bold;
  text-align: left;
}

.flip-card h3 {
  padding-top: 4%;
  /* margin: 0 auto; */
  /* color: white; */
}


body{
  width: 100%;
  /* background-color: black; */
  background-color: rgb(56, 55, 55);
}