body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 1000px;
}

.heading{
  border-bottom: white 3px solid;
  display: inline-block;
}

/* navbar */

.navbar {
  padding-bottom: 5px;
  background-color: white;
}

.logo-img {
  width: 3rem;
  margin-right: 8px;
  margin-left: 10px;
}

@media screen and (min-width: 992px ){
  .usict-web {
    position: absolute;
    right: 4%;
    font-size: 1.4rem;
  }

  
.nav-link {
  border: 2px solid #F8F9FA;
  margin-left: 2px;
}

  .nav-link:hover {
    border-bottom: 2px solid brown;
  }
}

@media screen and (max-width: 992px){
  
  .nav-link{
    border: 2px solid none;
  }

  .nav-link:hover {
    display: inline-block;
    text-decoration: underline 2px solid brown;
  }

}

.usict-web {
  font-size: 1.4rem;
}


/* body-top */

.top {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  margin: 0.5rem auto;
  padding: 100px 0px;
}

.top h2 {
  font-size: 2.6rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .top h2{
    font-size: 2rem;
  }

  .top{
    left: 0;
  right: 0;
  }
}

/* carousal */

.carousel {
  margin-top: 70px;
}

.carousal-inner {
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.carousel-item {
  padding: 1%;
}

.d-block {
  height: 610px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

@media  screen and (max-width: 600px) {
  .d-block{
    height: 500px;
  }
}

.carousel-control-prev span {
  border-radius: 100%;
  background-color: rgb(48, 45, 45);
}

.carousel-control-next span {
  border-radius: 100%;
  background-color: rgb(48, 45, 45);
}

/* Timeline */

.timeline{
  text-align: center;
}

.timeline .heading{
  margin: 2% auto;
}

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  /* margin-bottom: 40px; */
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}
/* 
.main-timeline .month {
  font-size: 18px;
  font-weight: 700
} */

.main-timeline .year {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0;
  margin-top: 7%;
  font-size: 20px;
}

.main-timeline .desc-adjust{
  width: 54%;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 20%
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .year {
    font-size: 20px;
  }
}





/* middle, faculty advisors */

.middle {
  justify-content: center;
  text-align: center;
  margin: 0% 5% 5% 5%;
}

.mid-h {
  margin: 4% auto;
  color: white;
}


.flip-card {
  background-color: transparent;
  height: 300px;
  margin: 0 4.1% 5% 4.1%;
  perspective: 1000px;
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .flip-card {
    margin: 0 4.1% 20% 4.1%;
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
  }
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  color: black;
}

.flip-card-front img {
  border-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg);
  background: black;
  /* background-image: -webkit-linear-gradient(top, #444343, #a4a7a7);
  background-image: -moz-linear-gradient(top, #444343, #7e7e7e);
  background-image: -ms-linear-gradient(top, #444343, #646464);
  background-image: -o-linear-gradient(top, #444343, #3a3a3a);
  background-image: -webkit-gradient(to bottom, #444343, #3a3a3a); */
  color: #ffffff;
  /* -webkit-box-shadow: 1px 1px 10px 0 #000000;
  -moz-box-shadow: 1px 1px 10px 0 #000000; */
  box-shadow: 1px 1px 10px 0 #000000;
  /* border: solid #444343 1px; */
}

.flip-card-back li {
  line-height: 2rem;
  padding: 2% 3%;
  /* font-weight: bold; */
  text-align: left;
}

.know-more{
  margin: -20px 0 10px 0;
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: rgb(247, 247, 122);
}

.flip-card h3 {
  padding-top: 4%;
  margin-bottom: 100px;
}

.flip-card li{
  list-style-type: none;
}

/* About Us */

.about {
  color: #fff;
  text-align: center;
  margin: 2% 22%;
}

.about h2 {
  margin-bottom: 4%;
  color: white;
}

.about p {
  font-size: 1.3rem;
  padding-top: 20px;
}

@media screen and (max-width: 1000px){
  .about{
    margin: 3% 10%;
  }
}

/* form for Contact-US*/

.form-heading{
  margin: 4% auto;
}

.footer{
  display: flex;
  width: 100%;
  margin-top: 2%;
  padding: 0 10%;
}

#contactUs {
  margin: 5% 3% 5% 12%;
  text-align: center;
}

.message-form {
  /* margin: 4% 30% 4% 0; */
  padding: 2%;
  /* border-radius: 10px; */
  /* background-color: rgb(78, 78, 78); */
  /* box-shadow: 0px 0px 3px 3px rgb(204, 201, 201); */
}

.message-input {
  width: 50%;
  margin: 15px 5px 15px 0;
}

.submit {
  border-radius: 10px;
  background-color: rgb(184, 183, 183);
  width: 100px;
}

.submit:hover {
  background-color: rgb(143, 141, 141);
}

/* footer */


#footer1 {
  /* display: inline-flex; */
  padding: 10% 0 5% 10%;
  /* width: 100%; */
  /* width: 100px; */
  background-color: black;
}

.footer-icon {
  margin: 1.5rem 1rem;
  font-size: 1.2rem;
}

#footer1 a {
  text-decoration: none;
}

.footer-icon:hover {
  cursor: pointer;
  color: #979595;
}

.footer-links-heading{
  margin: 0;
  font-weight: 400;
}

.copywright {
  color: white;
  padding-bottom: 1%;
  text-align: center;
  background-color: black;
}
