body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 1000px;
}

.heading{
  text-decoration: underline white 3px solid;
}

.icon{
  color: white;
  padding: 0 5px 20px 5px;
}

.icon:hover{
  color: #979595;
}

/* navbar */

.navbar {
  padding-bottom: 5px;
  background-color: white;
}

.logo-img {
  width: 3rem;
  margin-right: 8px;
  margin-left: 10px;
}

@media screen and (min-width: 992px ){
  .usict-web {
    position: absolute;
    right: 4%;
    font-size: 1.4rem;
  }

  
.nav-link {
  border: 2px solid white;
  margin-left: 2px;
}

  .nav-link:hover {
    border-bottom: 2px solid brown;
  }
}

@media screen and (max-width: 992px){
  
  .nav-link{
    border: 2px solid none;
  }

  .nav-link:hover {
    display: inline-block;
    text-decoration: underline 2px solid brown;
  }

}

.usict-web {
  font-size: 1.4rem;
}

/* faculty-members */

.faculty h2 {
  text-align: center;
  font-weight: bold;
  margin: 2%;
  margin-top: 100px;
  font-size: 35px;
}

.small-h {
  font-size: 25px;
}

.faculty .f {
  margin: 0% 3%;
}

.faculty .f p {
  padding: 5% 0;
  line-height: 2;
  text-align: center;
}

.faculty .f img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid white;
}

@media screen and (min-width: 990px) {
  .faculty .f1 img {
    float: left;
    margin-right: 2%;
  }

  .faculty .f2 img {
    float: right;
    margin-left: 2%;
  }

  .faculty .f3 img {
    float: left;
    margin-right: 2%;
  }
}

.faculty-name {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Team */

.himesh {
  text-align: center;
}

.himesh img {
  margin-top: 3%;
}

.sdc {
  padding-left: 20px;
}

.ffs {
  padding-left: 20px;
}

.team h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.sdc-team {
  display: inline-flex;
}

.ffs-team {
  display: inline-flex;
}

.sdc h3 {
  margin: 35px 0;
}

.ffs h3 {
  margin: 35px 0;
}

.f {
  text-align: center;
}

.about {
  margin-bottom: 20px;
}

.small-h {
  font-size: 25px;
}

.team .f p {
  line-height: 2;
}

.team .f img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid white;
}

.member-name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 0;
  color: rgb(247, 247, 122);
}

/* footer */

#footer {
  padding: 7% 15%;
  width: 100%;
  background-color: black;
}

.footer-icon {
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
}

.footer-icon:hover {
  cursor: pointer;
}

.copywright {
  color: white;
  padding-bottom: 1%;
}
