/* carousel -- 2 starting */
/* html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.carousel-inner {
  position: relative;
  padding: 15rem 0;
}

.container--for-mid-carousel {
  background-color: #e2f6fe;
  max-width: 80rem;
  padding: 4rem 5rem;
  border-radius: 6rem;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

.container--for-mid-carousel:hover {
  cursor: pointer;
}

.my-crousel--heading {
  /* font-size: 2.4rem; */
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}



.my-crousel--content {
  font-size: 2.4rem;
  font-weight: 500;
}

.circle {
  width: 50rem;
  height: 50rem;
  background-color: #304875;
  margin: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -250px 0px 0px -100px #041d53 inset;
}

.active.my-crousel--slide {
  transform: scale(1.1);
  transition: all 0.4s ease-in 0.2s;
  transition: z-index 0.4s ease-in-out;
}
.img {
  height: 60px;
  width: 60px;
  margin: -20px 0px 10px 0px;
}
/* carousel -- 2 ending */
/* responsive of carousel */
@media (max-width: 1000px) {
  .my-crousel--content {
    font-size: 1.7rem;
  }
  .img {
    height: 50px;
    width: 50px;
  }
  .my-crousel--heading {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
  }
  .container--for-mid-carousel {
    max-width: 70vw;
    text-align: center;
  }
  .circle {
    width: 40rem;
    margin: 0px;
    height: 40rem;
  }
}
@media (max-width: 850px) {
  .container--for-mid-carousel {
    padding: 4vw 5vw;
  }
  .img {
    height: 50px;
    width: 50px;
  }
  .my-crousel--content {
    font-size: 1.65rem;
  }
  .my-crousel--heading {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .img {
    height: 50px;
    width: 50px;
    margin: -10px 0px 10px 0px;
  }
}
@media (max-width: 450px) {
  .img {
    height: 50px;
    width: 50px;
    margin: 0px 0px 6px 0px;
  }
  .container--for-mid-carousel {
    padding: 1.5rem 2rem;
  }
  .circle {
    width: 35rem;
    margin: 0px;
    height: 35rem;
  }
}

/* responsive of carousel */
.carousel {
  margin-top: 70px;
  /* width:100vw ; */
}

.carousal-inner {
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.carousel-item {
  padding: 1%;
  width: 100vw;
  margin-right: 1vw;
}

.A-block {
  height: 610px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  top: 1px;
  left: 1px;
  


  
}
.d-block{
  width: 107%!important;

}

@media  screen and (max-width: 600px) {
  .A-block{
    height: 500px;
   
  }
  .d-block {
    width: 107%!important;
}
}

.carousel-control-prev span {
  border-radius: 100%;                              
  background-color: rgb(48, 45, 45);
  
}

.carousel-control-next span {
  border-radius: 100%;
  background-color: rgb(48, 45, 45);
  
}
.carouselExampleDark .carousal-inner .carousel-item .A-block{
    width: 100vw;
}
body{
    margin: -16px;
}
.c-block {
  width: 104%!important
}

@media  screen and (max-width: 600px) {
  
  .c-block {
    width: 107%!important;
}
}

#a{
  position: absolute;
  width: 101%;
  height: 141px;
  left: 0px;
top: 539px;
border-top-left-radius: 1px;
background: #041D53;
box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
transform: matrix(1, 0, 0, -1, 0, 0);
/* clip-path: polygon(53% 0%, 247% 139%, 9% 213%, -55% 110%, 0% 179%, -2% 38%); */
/* clip-path: polygon(49% -8%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 31%); */
/* clip-path: polygon(49% -16%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 22%); */
border-radius: 0 0 60% 60%/0 0 50% 50%;
display: block;
transform: rotateX(180deg);
}

.a{
  position: absolute;
width: 480px;
height: 58px;
left: 471px;
top: 631px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 149px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
transform: rotateX(180deg);
}
.caption101{
  transform: rotateX(180deg);
}

@media screen and (max-width: 600px) {
  .a{
    height: 500px;
    width: fit-content;
    font-size: 1.9em;
    
  }
}
@media screen and (max-width: 600px) {
  #a{
    top: 443px;
    left: 0px;
  }
}

.line {
  position: relative;
  top: 1%;
  width: 16em;
  margin: 0 auto;
  /* border-right: 1px solid rgba(255, 255, 255, 0.75); */
  font-size: 50%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;transform: translateY(-125%);
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) 1 normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 55em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}



.top {
  position: absolute;
  top: 62%;
  left: 0;
  right: 0;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  margin: 0.5rem auto;
  padding: 100px 0px;
  width: 100%;
}

.top h2 {
  font-size: 2.6rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .top h2{
    font-size: 2rem;
  }

  .top{
  top: 55%;
  left: 0;
  right: 0;
  margin: 1.5rem 9%;
  width: 100%;
  }
}
/* Ending responsive of carousel */
/*card section*/

.container-card {
  margin-top: 20px;
}
.faculty {
  border-bottom: 3px solid grey;
}
.teamheading {
  font-size: 48px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  margin-top: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.trapezium {
  margin: 0px auto;
  border-top: 50px solid rgb(4, 29, 84);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 0px solid transparent;
  width: 300px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 2px #222);
}

.trapezium p {
  margin-top: -40px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.ellipse {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 150px 150px 0 0;
  color: white;
  background-color: rgb(4, 29, 84);
  margin-top: 50px;
  filter: drop-shadow(0 0 3px #222);
}
@media screen and (max-width: 245px) {
  .ellipse {
    margin-top: 90px;
  }
}

@media screen and (max-width: 375px) {
  .teamheading {
    font-size: 25px;
    padding-top: 40px;
  }
  .trapezium {
    width: 160px;
  }
}
@media screen and (max-width: 425px) {
  .teamheading {
    font-size: 35px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .teamheading {
    font-size: 42px;
  }
}

.our-team {
  padding: 20px 15px 30px;
  background: #b9eafc69;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px gray;
}
.our-team .pic {
  display: inline-block;
  width: 80%;
  height: 80%;
  background: transparent;
  padding: 10px;
  margin-bottom: 25px;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: rgb(4, 29, 84);
  text-transform: capitalize;
  margin-bottom: 15px;
}
.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}
.our-team .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: rgb(4, 29, 84);
  border: 1px solid rgb(4, 29, 84);
  text-decoration: none;
}
.social li a:hover {
  transition: all 0.5s linear;
  background-color: #041d54;
  color: #fff;
}
@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .our-team .social {
    display: contents;
  }
  .fa-github:before,
  .fa-linkedin:before,
  .fa-twitter:before,
  .fa-google-plus:before {
    padding: 6px;
  }
}

/* Navbar css */

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    background-color: rgb(4, 29, 83);
    margin-top: -1%;
    z-index: -1;
    top: 50px;
    width: 50%;
  }

  .lg-navbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    top: 80%;
    opacity: 0;
  }
  100% {
    display: block;
    top: 100%;
    opacity: 1;
  }
}

#lg-dropdown:hover #lg-dropdown-menu {
  display: block;
  margin-top: 0;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 15%;
  background-color: rgb(4, 29, 83);
}

.hover {
  margin-bottom: 0.5rem;
}

.lg-dropdown-item:hover {
  border-radius: 10%;
  background-color: rgb(40, 52, 154);
}

.hover-text {
  margin-left: -0.5rem;
  /* display: none; */
  position: absolute;
  display: inline;
  z-index: -1;
  opacity: 0;
}

.hover:hover .hover-text {
  position: relative;
  z-index: 0;
  font-size: large;
  opacity: 1;
}
/*footer*/
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
.parent {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -1;
}
.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}
.sub-heading {
  font-size: 0.8rem;
  font-weight: 100;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 30px;
  border-radius: 10% 10% 0px 0px;
  background: rgb(4, 29, 83);
}
p {
  text-align: center;
  font-size: 15px;
}
.image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: invert(1);
  background: transparent;
  padding: 5px;
  margin: 5px;
}
.foot {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  background: rgb(4, 29, 83);
}

.icon {
  width: 35px;
  height: 40px;
  object-fit: contain;
  filter: invert(1);
  background: transparent;
  opacity: 1;
  padding: 5px;
}
#inst {
  padding: 6px;
}
.left {
  width: 80px;
  display: flex;
  align-items: flex-start;
}
#statement {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form {
  width: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/*contact form */

.mains {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.mains.active .contact {
  transform: translateY(0px);
}
h1 {
  padding: 40px 0px;
  font-size: 2rem;
}
.end {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: white;
  border: none;
  font-size: 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(4, 29, 83);
  color: whitesmoke;
  width: 70vw;
  height: 420px;
  border-radius: 19px;
  padding: 10px 10px;
  position: relative;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.field {
  margin: 5px;
  padding: 10px;
  width: 45vw;
  font-size: 15px;
  text-align: center;
  background-color: rgb(226, 246, 254);
  color: black;
  border-radius: 9px;
}
.btn {
  width: 100px;
  padding: 13px;
  margin: 5px;
  background-color: rgb(226, 246, 254);
  color: black;
  border-radius: 9px;
  border: none;
  font-weight: 600;
}
::placeholder {
  color: black;
  font-weight: 600;
}
