/* carousel -- 2 starting */
/* html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
}

#carousel--2 {
  /* margin-top: 10vh; */
  padding: 0;
  box-sizing: border-box;
  font-size: 8px;
  width: 100%;
}

.--carousel-inner---mid-carousel {
  position: relative;
  padding: 15em 0;
}

.container--for-mid-carousel {
  background-color: #e2f6fe;
  max-width: 70em;
  padding: 3em 4em;
  border-radius: 6em;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

.container--for-mid-carousel:hover {
  cursor: pointer;
}

.my-crousel--heading {
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
}

.my-crousel--content {
  font-size: 2em;
  font-weight: 500;
  color: #343a40;
}

.circle {
  width: 31rem;
  height: 31rem;
  background-color: #304875;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -250px 0px 0px -100px #041d53 inset;
}

.my-crousel--slide {
  transform: scale(1.5);
  transition: 0.7s ease-in 0.3s;
}

.imgg {
  height: 60px;
  width: 60px;
}

/* carousel -- 2 ending */
/* responsive of carousel */
@media (max-width: 1000px) {
  .my-crousel--content {
    font-size: 1.8em;
  }

  .imgg {
    height: 45px;
    width: 45px;
  }

  .my-crousel--heading {
    font-size: 2.6em;
    font-weight: 500;
    text-align: center;
  }

  .container--for-mid-carousel {
    max-width: 56vw;
    text-align: center;
  }

  .circle {
    width: 28.6rem;
    margin: 0px;
    height: 28.6rem;
  }
}

@media (max-width: 850px) {
  .container--for-mid-carousel {
    padding: 1.7rem;
  }

  .my-crousel--content {
    font-size: 1.65em;
  }

  .my-crousel--heading {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .imgg {
    height: 9vw;
    width: 9vw;
    margin: -10px 0px 10px 0px;
  }

  .container--for-mid-carousel {
    padding: 1rem;
  }

  .my-crousel--content {
    font-size: 1.5em;
  }

  .my-crousel--heading {
    font-size: 1.9em;
  }
}

@media (max-width: 470px) {
  .imgg {
    margin: 0px 0px 6px 0px;
  }

  .my-crousel--content {
    font-size: 1.2em;
  }

  .my-crousel--heading {
    font-size: 1.4em;
  }

  .container--for-mid-carousel {
    padding: 1.5em 2em;
  }

  .circle {
    width: 95vw;
    margin: 0px;
    height: 95vw;
  }
}

/* responsive of carousel */

.pic {
  height: 90vh;
  width: 100%;

  /* top: 12px; */
}

.slid {
  top: -30px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .slid {
    width: 100%;
  }

  .pic {
    width: 100%;

    /* top: 12px; */
  }

  .imggge {
    width: 100%;
  }
}

.imggge {
  width: 100%;
}

#a {
  position: absolute;
  width: 101%;
  height: 141px;
  left: 0px;
  top: 600px;
  border-top-left-radius: 1px;
  background: #041d53;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
  /* clip-path: polygon(53% 0%, 247% 139%, 9% 213%, -55% 110%, 0% 179%, -2% 38%); */
  /* clip-path: polygon(49% -8%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 31%); */
  /* clip-path: polygon(49% -16%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 22%); */
  border-radius: 0 0 60% 60%/0 0 50% 50%;
  display: block;
  transform: rotateX(180deg);
}

#upper {
  position: relative;
  width: 100%;
  height: 600px;
  top: 0px;
}

.a {
  position: absolute;
  width: 480px;
  /* height: 58px;
  left: 471px;
  top: 700px; */
  /*font-family: 'Inter';
  */
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 149px;
  /*identicaltoboxheight*/
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

/********************************************************same features ne id class*********************************************/
.z {
  position: absolute;
  width: 480px;
  height: 58px;
  left: 471px;
  top: 700px;
  /*font-family: 'Inter';
  */
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 149px;
  /*identicaltoboxheight*/
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

#op {
  position: absolute;
  width: 100%;
  height: 120px;
  /* left: -2px; */
  /* top: 1084px; */
  top: 503px;
  border-top-left-radius: 1px;
  background: #041d53;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
  /* clip-path: polygon(53% 0%, 247% 139%, 9% 213%, -55% 110%, 0% 179%, -2% 38%); */
  /* clip-path: polygon(49% -8%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 31%); */
  /* clip-path: polygon(49% -16%, 353% 164%, 10% 257%, -25% 191%, 0% 243%, -2% 22%); */
  border-radius: 0 0 60% 60%/ 0 0 50% 50%;
  display: block;
  transform: rotateX(180deg);
}

/********************************************************************************************************************************/

#slllide {
  /* top: 1138px; */
  top: 619px;
}

.caption101 {
  transform: rotateX(180deg);
  font-size: 38px;
}

/* @media screen and (max-width: 1283px) {
  .a {
    /* height: 500px; */
    /* width: fit-content; /
    font-size: 1.9em;
  }
}

@media screen and (max-width: 1288px) {
  #op {
    top: 991px;
    left: 0px;
  }

  #slllide {
    top: 1042px;
  }
}
@media screen and (max-width: 2244px) {
  #op {
    top: 389px;
    
  }
  #slllide {
    top: 551px;
  }
}
@media screen and (max-height: 600px) {
  #op {
    top: 1024px;
    
  }
  #slllide {
    top: 1174px;
  }
} */

/* .caption {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  margin: 0.5rem auto;
  padding: 100px 0px;
}

.caption h5 {
  font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 45px;


text-align: center;
text-transform: uppercase;

color: #000000;
}

@media screen and (max-width: 500px) {
  .caption h5{
    font-size: .9rem;
   

  }

  .caption{
    left: 0;
  right: 0;
  }
} */

.line {
  position: relative;
  top: 1%;
  width: 16em;
  margin: 0 auto;
  /* border-right: 1px solid rgba(255, 255, 255, 0.75); */
  font-size: 50%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-125%);
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) 1 normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 55em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

.top {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  margin: 0.5rem auto;
  /* padding: 100px 0px; */
  width: 100%;
}

.top .typ {
  font-size: 2.4rem !important;
  color: black;
}

@media screen and (max-width: 600px) {
  .top .typ {
    font-size: 2rem;
    /* width: 100%; */
  }

  .top {
    top: 41%;
    left: -7px;
    right: 0;
    /* margin: 1.5rem 9%; */
    /* width: 100%; */
  }
}

/* Ending responsive of carousel */

/*card section*/
.divider {
  border: none;
  height: 40px;
  border-bottom: 1px transparent #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  padding-top: 50px;
  margin: 0;
}

.trapezium {
  margin: 2px auto;
  border-top: 50px solid rgb(4, 29, 84);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 0px solid transparent;
  width: 300px;
  margin-bottom: 36px;
  filter: drop-shadow(0 0 2px #222);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.f {
  margin: -10px auto;
}

.trapezium p {
  margin-top: -40px;
  text-align: center;
  color: white;
  font-size: 24px;
}

.teamheading {
  font-size: 48px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  margin-top: 28px;
  transform: scale(1, -1);
}

.ellipse {
  position: relative;
  top: 50%;
  border-top-left-radius: 1px;
  background: #041d53;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 0 0 60% 60%/0 0 50% 50%;
  display: block;
}

@media screen and (max-width: 245px) {
  .ellipse {
    margin-top: 90px;
  }

  .our-team {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .teamheading {
    font-size: 19px;
  }

  .trapezium {
    width: 160px;
  }

  .cards .trapezium p {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .teamheading {
    font-size: 25px;
    padding-top: 30px;
  }

  .our-team {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .teamheading {
    font-size: 42px;
  }
}

.our-team {
  padding: 20px 15px 30px;
  background: #b9eafc69;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px gray;
}

.our-team .pic {
  display: inline-block;
  width: 80%;
  height: 80%;
  background: transparent;
  padding: 10px;
  margin-bottom: 25px;
}

.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: rgb(4, 29, 84);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.our-team .social li img {
  position: relative;
}

.img-c {
  position: relative;
  width: 40px;
}

.ml {
  margin-left: 10px;
}

.our-team .social li a:hover .img-c {
  display: inline;
  background-color: #b5e7fb;
  color: white;
  top: -5px;
  border-radius: 100%;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .our-team .social {
    display: contents;
  }
}

/* Navbar css */

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    background-color: rgb(4, 29, 83);
    margin-top: -1%;
    z-index: 100;
    top: 69px;
    width: 50%;
  }

  .lg-navbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    top: 80%;
    opacity: 0;
  }

  100% {
    display: block;
    top: 100%;
    opacity: 1;
  }
}

#lg-dropdown:hover #lg-dropdown-menu {
  display: block;
  margin-top: 0;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 15%;
  background-color: rgb(4, 29, 83);
}

.hover {
  margin-bottom: 0.5rem;
}

.lg-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.lg-dropdown-item:hover {
  border-radius: 20%;
  background-color: rgb(40, 52, 154);
}

.lg-dropdown-item:visited {
  border-radius: 20%;
  background-color: rgb(40, 52, 154);
}

.hover-text {
  margin-left: -0.5rem;
  /* display: none; */
  position: absolute;
  display: inline;
  z-index: -1;
  opacity: 0;
}

.hover:hover .hover-text {
  position: relative;
  z-index: 0;
  font-size: large;
  opacity: 1;
}

/*footer*/
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Comfortaa", cursive; */
}

.parent {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  transition: all 0.3s;
}

.sub-heading {
  font-size: 0.8rem;
  font-weight: 100;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 30px;
  border-radius: 10% 10% 0px 0px;
  background: rgb(4, 29, 83);
  border-bottom: 1px solid white;
}

p {
  text-align: center;
  font-size: 15px;
}

.img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: invert(1);
  background: transparent;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.sub .img:hover {
  transform: scale(1.2);
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  background: rgb(4, 29, 83);
}

.left {
  width: 80px;
  display: flex;
  align-items: flex-start;
  transition: all 0.3s;
}

.icon {
  width: 35px;
  height: 40px;
  object-fit: contain;
  filter: invert(1);
  background: transparent;
  padding: 5px;
}

.left .icon:hover {
  /* transform: scale(1.2); */

  transform: translateY(-3px);
  transition: 0.2s;
}

#inst {
  padding: 6px;
}

#statement {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  width: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}
#form:hover {
  transform: scale(1.2);
}

/*contact form */

.mains {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: 50%;
  /* bottom: 10px; */
  transition: all 0.3s;
  z-index: 2;
}

.show {
  opacity: 1;
}

.mains.show .contact {
  transform: translateY(-260px);
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
  /* margin-bottom: 30%; */
}

#call {
  width: 35px;
}

h1 {
  padding: 40px 0px;
  font-size: 2rem;
}

/* .icon:hover{
  cursor: pointer;
}
.icon img{
  height: 40px;
  width: 40px;
  padding: 0;
  color:white;
}
.icon a:hover {
  color: #ffcb04;
  transform: translateY(3px);
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.icon a {
  color: white;
 
  padding: 10px;
  text-decoration: none;
} */

.end {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: white;
  border: none;
  font-size: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(4, 29, 83);
  color: whitesmoke;
  width: 70vw;
  height: 420px;
  border-radius: 19px;
  padding: 10px 10px;
  position: relative;
  transform: translateY(-100%);
  transition: all 0.3s;
  pointer-events: none;
}

.field {
  margin: 5px;
  padding: 10px;
  width: 45vw;
  font-size: 15px;
  text-align: center;
  background-color: rgb(226, 246, 254);
  color: black;
  border-radius: 9px;
}

.btn {
  width: 100px;
  padding: 13px;
  margin: 5px;
  background-color: rgb(226, 246, 254);
  color: black;
  border-radius: 9px;
  border: none;
  font-weight: 600;
}

::placeholder {
  color: black;
  font-weight: 600;
}

/* Css for project page */

.projectImg1 {
  height: 600px;
}

.projectBGI {
  background-image: url(../../ipu1.jpg);
  background-size: 100% 600px;
  background-repeat: no-repeat;
  height: 700px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.projectTxt {
  color: rgb(51, 61, 201);
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-size: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 150px;
}

.projectTxt2 {
  font-size: 40px;
  transform: rotateX(180deg);
  /* font-family: 'Times New Roman', Times, serif; */
}

/********************************************************************************Faculty page*****************************************/
.container-faculty {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 75px;
}

.con-fac-inner {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con-fac-inner img {
  display: block;
  width: auto;
  max-width: 100%;
}

.text-fac {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 2.5vw;
  text-transform: capitalize;
  color: #000000;
}

.con-fac1,
.con-fac2,
.con-fac3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.con-fac2 {
  align-items: flex-end;
}

.con-fac1 {
  padding: 7% 0 5% 0;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  background-image: url("../../rec1.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* min-height: 482px; */
}

.con-fac2 {
  padding: 5% 0 6% 0;
  position: relative;
  background-image: url("../../rec2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* min-height: 482px; */
}

.con-fac1 .con-fac-inner {
  padding: 0 0 7% 3%;
}

.con-fac2 .con-fac-inner {
  padding: 3% 5% 6% 0;
}

.con-fac3 .con-fac-inner {
  padding: 3% 0 6% 4%;
}

.con-fac3 {
  padding: 4% 0 5% 0;
  position: relative;
  background-image: url("../../rec3.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* min-height: 482px; */
}

.font {
  position: absolute;
  top: 800px;
  color: #1f1209;
}

.fac-about1{
  position: absolute;
  font-size: larger;
  color: #304875;
  font-weight: bold;
  display: flex;
  left: 500px;
  max-width: 300px;
  text-align: left;
  
}

.fac-about2{
  position: absolute;
  font-size: larger;
  color: #304875;
  font-weight: bold;
  display: flex;
  left: 500px;
  max-width: 300px;
  text-align: right;
  
}

.fac-about3{
  position: absolute;
  font-size: larger;
  color: #304875;
  font-weight: bold;
  display: flex;
  left: 500px;
  max-width: 300px;
  text-align: left;
  
}


/* SFST */
.icn1 {
  height: 100px;
  margin-left: 160px;
}

.projectTxt3 {
  color: black;
  text-shadow: 1px 2px 4px black;
}

.projectTxt4 {
  color: black;
  font-size: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  padding-top: 20px;
}

.sfst {
  height: 500px;
}

.sfstImg {
  width: 75%;
  height: 170px;
  margin-right: 50px;
}

.sfstimg {
  display: flex;
  align-items: flex-end;
  height: 530px;
}

.sfstCss {
  padding-top: 50px;
  background-color: #e2f6fe;
  border-radius: 30px 1200px 40px 2px;
  -webkit-border-radius: 30px 1200px 40px 2px;
  -moz-border-radius: 30px 1200px 40px 2px;
  -ms-border-radius: 30px 1200px 40px 2px;
  -o-border-radius: 30px 1200px 40px 2px;
}

.sfstCss2 {
  padding-top: 50px;
  padding-left: 200px;
  background-color: #e2f6fe;
  border-radius: 1200px 40px 30px 2px;
  -webkit-border-radius: 1200px 40px 30px 2px;
  -moz-border-radius: 1200px 40px 30px 2px;
  -ms-border-radius: 1200px 40px 30px 2px;
  -o-border-radius: 1200px 40px 30px 2px;
}

.box {
  width: 100%;
  height: 100px;
  border: solid 7px #cfcfcf;
  border-color: #cfcfcf transparent transparent transparent;
  border-radius: 50%/10px 115px 0 0;
  -webkit-border-radius: 50%/10px 115px 0 0;
  -moz-border-radius: 50%/10px 115px 0 0;
  -ms-border-radius: 50%/10px 115px 0 0;
  -o-border-radius: 50%/10px 115px 0 0;
}

.box1 {
  width: 100%;
  height: 100px;
  border: solid 7px #cfcfcf;
  border-color: #cfcfcf transparent transparent transparent;
  border-radius: 50%/10px 115px 0 0;
  -webkit-border-radius: 50%/10px 115px 0 0;
  -moz-border-radius: 50%/10px 115px 0 0;
  -ms-border-radius: 50%/10px 115px 0 0;
  -o-border-radius: 50%/10px 115px 0 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/* .teamImg{
  padding-left: 38px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #e0e9ed;
  border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
}
.teamImg1{
  padding-left: 38px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #e0e9ed;
  border-radius: 200px 200px 50px 0;
  -webkit-border-radius: 200px 200px 50px 0;
  -moz-border-radius: 200px 200px 50px 0;
  -ms-border-radius: 200px 200px 50px 0;
  -o-border-radius: 200px 200px 50px 0;
}
.row>*{
  padding-left: 0px;
} */

@media only screen and (max-width: 576px) {
  .projectTxt {
    font-size: 25px;
  }

  .projectTxt2 {
    font-size: 25px;
  }

  .sfstimg {
    height: 200px;
  }

  .box {
    width: 100%;
    height: 14px;
    border: solid 7px #cfcfcf;
    border-color: #cfcfcf transparent transparent transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .box1 {
    width: 100%;
    height: 20px;
    border: solid 7px #cfcfcf;
    border-color: #cfcfcf transparent transparent transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .sfstImg {
    height: 150px;
  }

  .icn1 {
    height: 80px;
    margin-left: 70px;
  }

  .projectTxt3 {
    font-size: 15px;
    text-align: start;
    padding-right: 80px;
  }

  .projectTxt4 {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  .pt {
    padding-top: 15px !important;
  }

  .sfstCss2 {
    margin-top: 50px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 960px) {
  .projectTxt {
    font-size: 40px;
    position: relative;
    top: 160px;
  }

  .projectTxt2 {
    font-size: 30px;
  }

  .sfstimg {
    height: 200px;
  }

  .box {
    width: 100%;
    height: 14px;
    border: solid 7px #cfcfcf;
    border-color: #cfcfcf transparent transparent transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .box1 {
    width: 100%;
    height: 20px;
    border: solid 7px #cfcfcf;
    border-color: #cfcfcf transparent transparent transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .sfstCss2 {
    margin-top: 40px;
  }

  .sfstimg {
    padding-bottom: 20px;
  }
}
