
/* Component styles */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@media screen and (min-width:1025px){
.date1{
    width: 20%;
}
}
.table-box {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 85%;
	overflow: hidden;
    
}
.syll-table-box {
	line-height: 1em;
	margin: 0 auto;
	border-style: groove;
	width: 100%;
	overflow: hidden;
    
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #041E54;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody tr:nth-child(2n-1) {
    
}
.item-collapse
{
 background-color: #f5f5f5;
 transition: all .125s ease-in-out;   
}
.item-collapse:hover {
    background-color: rgba(129,208,177,.3);
}

.year-collapse
{
 background-color: #E8E8E8;
 transition: all .125s ease-in-out;   
}

data-collapse{
    text-align: center;
}
tbody tr:hover {
    background-color: #E5F2FF;
}
  .table-box,.table-box a{
	font-family: 'Lato', Arial, sans-serif;
	color: #00000;
	
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */

.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

